.step {
	text-align: center;
}

.options {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.label {
	display: none;
	margin-top: 5px;
	font-size: 0.8em;
}

.options button:hover .label {
	display: block;
}
